html
    body
        h1= showData.title
            h2 Developed By
            each developer in showData.developedBy
                li= developer
            h2 Starring
            each star in showData.starring
                li= star
            h2 Seasons
            each number in showData.seasons
                li
                    a(href=`/seasons/${number.number}`)= 'Season' + (' ') + number.number